<!DOCTYPE html>

{% extends "todo/base.html" %}
{% load static %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'todo/css/customStyle2.css' %}">

    <style>
      .listBoard{
        max-width: 800px;
        padding-top:5%;
      }
      .addButton{
        padding: 3% 0% 3% 0%;
      }
      .midContainer{
        background-color: #ebe9e9;
        height: 100%;
      }


    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: white;padding: 1% 0% 1% 0%;">
    <div class="container-fluid">
        <img src="{% static 'todo/images/tasklylogo1.png' %}" class="logo2"/>
        <span class="text-uppercase pageTitle">{{ title }}</span>
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link navText" href="/user_dashboard/{{ user.id }}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navText" href="/user_logout">LOGOUT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="midContainer">
    <div class="container listBoard">

        {% if task %}
        <ul class="list-group">
            {% for task in task %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ task.title }}</div>
                    <div class="small">CATEGORY: <span style="color: #ed217c">{{ task.category.name }}</span></div>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false"></button>

                    <ul class="dropdown-menu">
                        {% if completed_tasks_list %}
                        <li><a class="dropdown-item" href="/mark_as_undone_task/{{ task.id }}">Mark as Undone</a></li>
                        <li><a class="dropdown-item"
                               onclick="return confirm('Are you sure you want to delete this task?')"
                               href="/completed_delete/{{ task.id }}">Delete</a></li>
                        {% elif pending_tasks_list %}
                        <li><a class="dropdown-item" href="/pending_done/{{ task.id }}">Mark as Done</a></li>
                        <li><a class="dropdown-item"
                               onclick="return confirm('Are you sure you want to delete this task?')"
                               href="/pending_delete/{{ task.id }}">Delete</a></li>
                        {% elif overdue_tasks_list %}
                        <li><a class="dropdown-item" href="/overdue_done/{{ task.id }}">Mark as Done</a></li>
                        <li><a class="dropdown-item"
                               onclick="return confirm('Are you sure you want to delete this task?')"
                               href="/overdue_delete/{{ task.id }}">Delete</a></li>
                        {% endif %}

                    </ul>
                </div>

            </li>
            {% endfor %}
            {% else %}
            <div class="card text-center p-2" style="width: 100%;">
                <img src="{% static 'todo/images/confetti.png' %}" class="mx-auto m-4" width="80"/>
                <div class="card-body">
                    <p class="card-text"><strong>HOORAY!</strong> you have no tasks</p>
                </div>
            </div>
            {% endif %}
        </ul>
    </div>
</div>
</body>
</html>
{% endblock %}